* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#main {
    background-color: #3644c9;
    background: url("https://raw.githubusercontent.com/vamshi-vemula/Tribute-page-example/main/Assets/bg.png");
    padding: 20px 12px;
    text-align: center;
}
#title {
    text-align: center;
    color:blueviolet;
}
#des {
    color: white;
    text-align: center;
    margin-top: 15px;
}
#img-div {
    text-align: center;
}
#img-div #image {
    margin:15px auto;
    border-radius: 5px;
}
#img-div #img-caption {
    color: white;
}
#tribute-info {
    margin: 25px 0px;
    text-align: center;
    color:blueviolet;
}
#tribute-link {
    text-decoration: none;
    color: chocolate;
}
#plot {
    color: white;
    text-align: justify;
    margin: 20px auto;
    width: 80%;
}
.source-heading {
    color: blueviolet;
}
.source-container {
    margin: 20px auto;
    display: inline-block;
}
.source-container li {
    text-decoration: none;
    display: inline-block;
    padding-left: 30px;
}
.source-container li img {
    width: 50px;
    border-radius: 60%;
}
.source-container li a:hover img {
    width: 58px;
}